<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>AgaShop</title>
        <link href="{{ asset('bundles/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
        <!-- Custom Theme files -->
        <!--theme-style-->
        <link href="{{ asset('bundles/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
        <!--//theme-style-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link href="{{ asset('bundles/css/style4.css') }}" rel="stylesheet" type="text/css" media="all" />
        <!--//theme-style-->
        <script src="{{ asset('bundles/js/jquery.min.js') }}"></script>
        <!--- start-rate---->
        <script src="{{ asset('bundles/js/jstarbox.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('bundles/css/jstarbox.css') }}" type="text/css" media="screen" charset="utf-8" />
    </head>
    {% block stylesheets %}{% endblock %}
    <body>
    <div class="container">
        {% include 'views/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'views/footer.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
